@using Microsoft.AspNetCore.Mvc.Routing
@{
    Guid urunId = new Guid( Context.Request.RouteValues["id"].ToString() );
}

@*<div class="raw">
    @if (Model != null)
    {
        @foreach (Urunler item in Model.Urunler)
        {
            @if (item.UrunID == urunId)
            {
                <div class="col-md-12">
                    <h3>@item.UrunAdi</h3>
                </div>
                <div class="col-md">

                    <img src="~/@item.GorselURL" />

                </div>
            }

        }
    }
</div>*@
<div class="row d-flex justify-content-center">
    <div class="col-md-12">
        <div class="card" id="urunCard">
            <div class="row">
                @foreach (Urunler item in Model.Urunler)
                {
                    @if (item.UrunID == urunId)
                    {
                        ViewData["Title"] = item.UrunAdi;
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4"> <img id="main-image" src="~/@item.GorselURL" style="width:100%" /> </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4 h-100">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        @foreach (Kategori ktg in Model.Menu)
                                        {
                                            @foreach (AltKategori altKtg in Model.AltMenu)
                                            {
                                                @if (altKtg.Id == item.UrunKategorisi && altKtg.UstKategoriID == ktg.KategoriID)
                                                {
                                                    <span class="ml-1"><a href="/menu/detay/@ktg.KategoriID">@ktg.KategoriAdi</a> > <a href="/menu/detay/@ktg.KategoriID/@altKtg.Id">@altKtg.AltKategoriAdi</a></span>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="mt-4 mb-3">
                                    <span class="text-uppercase text-muted brand">@item.SKU</span>
                                    <h5 class="text-uppercase">@item.UrunAdi</h5>
                                    <div class="price d-flex flex-row align-items-center">
                                        @*<span class="act-price">$20</span>*@
                                        <p></p>
                                        <p></p>
                                        <div class="ml-2 d-flex">
                                            @if (item.Indirim > 0)
                                            {
                                                <h3 class="act-price">
                                                    ₺ @item.Indirim
                                                </h3>
                                                <p class="dis-price ms-2">@item.UrunFiyati</p>
                                            }
                                            else
                                            {
                                                <span class="act-price">@item.UrunFiyati</span>
                                            }
                                            @*<small class="dis-price act-price">₺@item.UrunFiyati</small> @if (item.Indirim > 0)
                                    {
                                    <span>@item.Indirim</span>
                                    }*@
                                        </div>
                                    </div>
                                </div>
                                @*<div class="sizes mt-5">
                        <h6 class="text-uppercase">Size</h6> <label class="radio"> <input type="radio" name="size" value="S" checked> <span>S</span> </label> <label class="radio"> <input type="radio" name="size" value="M"> <span>M</span> </label> <label class="radio"> <input type="radio" name="size" value="L"> <span>L</span> </label> <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span> </label> <label class="radio"> <input type="radio" name="size" value="XXL"> <span>XXL</span> </label>
                        </div>*@
                                <div class="cart mt-4 align-items-center"> <button id="btnSepetbtnSepet" class="btn btn-danger text-uppercase mr-2 px-4">Sepete Ekle</button> </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="card" id="urunCard">
                <div class="row m-3">
                    @foreach (Urunler item in Model.Urunler)
                    {
                        @if (item.UrunID == urunId)
                        {
                            @Html.Raw(item.UrunAciklamasi)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>