@model E_ticaret.Models.StudentDetailsViewModel
@{
    //Layout = "_VeriTasimaLayout";
}

<html>
    <head>
        <title>@Model.Title</title>
    </head>
    <body>
        <h1>@Model.Header</h1>

<p>ViewData ile veri taşıma: @ViewData["Data1"]</p>
<p>ViewBag ile veri taşıma: @ViewBag.Data2</p>
<p>TempData ile veri taşıma: @TempData["Data3"]</p>
<p>ViewBag ile veri taşıma (Tarih): @ViewBag.CurrentDate</p>
<p>Controller'dan ViewBag ile taşınan Rnd1 verisi (Random sayı): @ViewBag.Rnd1</p>

<h1>ViewModel ile veri taşıma: </h1>
<div>
    Student Id: @Model.Student.StudentId
</div>
    <div>
        Name : @Model.Student.Name
    </div>
    <div>
        Branch : @Model.Student.Branch
    </div>
    <div>
        Section : @Model.Student.Section
    </div>
    <div>
        Gender : @Model.Student.Gender
    </div>

    <h3>Student Address</h3>
    <div>
        City : @Model.Address.City
    </div>
    <div>
        State : @Model.Address.State
    </div>
    <div>
        Country : @Model.Address.Country
    </div>
    <div>
        Pin : @Model.Address.Pin
    </div>
    </body>
</html>