@using E_ticaret
@model dynamic
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

<p><b>Teacher List</b></p>

<table>
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
    </tr>
    @if (Model != null)
    {
        <tr>
            @foreach (Menu menu in Model.Menu)
            {
                <td><a href="/menu/detay/@menu.MenuId">@menu.MenuName</a></td>
            }
        </tr>
    }

</table>

<p><b>Student List</b></p>

<table>
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
        <th>Enrollment No</th>
    </tr>
    @*@foreach (AltMenu altMenu in Model.AltMenu)
    {
        <tr>
            <td>@altMenu.AltMenuId</td>
            <td>@altMenu.AltMenuName</td>
            <td>@altMenu.AnaMenuId</td>
        </tr>
    }*@
</table>